<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.contentful.cardboard"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-feature android:name="android.software.vr.mode"/>
    <uses-feature android:name="android.software.vr.high_performance"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/cardboard_app_name">

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/cardboard_app_name"
            android:screenOrientation="landscape">

            <meta-data
                android:name="com.google.android.vr.icon"
                android:resource="@drawable/vr_icon_front"/>

            <meta-data
                android:name="com.google.android.vr.icon_background"
                android:resource="@drawable/vr_icon_back"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="com.google.intent.category.CARDBOARD"/>
                <category android:name="com.google.intent.category.DAYDREAM"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="com.google.intent.category.DAYDREAM"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
